<%= render "shared/navbar" %>
<h1>Valenti Cleaners</h1>

<section id="about">

</section>

<section id="demo">
  <div><!--
    <iframe width="800" height="600" src="https://www.youtube.com/embed/zvmhY_pbXj4" title="Why I Left Donut" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->
  </div>
</section>

<section id="contact">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.882998360115!2d-87.815788!3d41.8881094!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e35b523034933%3A0x1e64504fd854235e!2sValenti%20Cleaners!5e0!3m2!1sen!2sus!4v1722889088126!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <br>
  <p>Call the business phone number or stop by for questions about potential services</p>
  <br>
  <p>Location: 7623 BLDG B W Lake St, River Forest, IL 60305</p>
  <br>
  Business Phone number:

</section>
<%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
