<div id="<%= dom_id user %>">
  <p>
    <strong>Price:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= user.email %>
  </p>
</div>
