<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
  <p style="color: green"><%= notice %></p>
  <% @users.each do |user|%>
    <%= render user %>
    <p>
      <%= link_to "Show this User", user %>
    </p>
  <% end %>

<div id="users">
</div>

<%= link_to "New User", new_user_registration_path %>

  