<div class="col-2">
  <%= link_to add_option_as_item_path(option.id), {:style=>"text-decoration: none"} do %>
    <div class="card bg-light option">
      <div class="card-body text-center d-flex align-items-center justify-content-center">
        <%=option.name%> <%=number_to_currency(option.base_price)%>
      </div>
    </div>
  <% end %>
</div>
