<div id="<%= dom_id option %>">
  <p>
    <strong>Base price:</strong>
    <%= option.base_price %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= option.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= option.category_id %>
  </p>

</div>
