<td>
  <%= number_to_phone(customer.phone_number, area_code: true) %>
</td>
<td>
  <%= customer.last_name %>
</td>
<td class="text-center">
  <%= customer.orders.count %>
</td>
<td>
   <a href="./new/<%=customer.id%>" class="btn btn-secondary">Select this customer</a>
</td>
