<div>
  <%= link_to "Back to orders", orders_path %>
</div>
<div class="modal-footer">
  <%= link_to "New Customer", new_customer_path, class: "btn btn-secondary"%>
</div>
  <%=render "customers/simple_list" %>
