<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<%= link_to "New category", new_category_path, class: "btn btn-info" %>
<div id="categories table-responsive">
  <table class="table table-bordered table-striped text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
      </tr>
    </thead>
    <% @categories.each do |category| %>
      <tr>
        <%= render category %>
      </tr>

    </p>
  <% end %>
</table>
</div>
